<div style="display: flex; margin-bottom: 8px;">
  <div style="margin-right: 8px;"><img src="{{ post.author.avatar(36) }}"></div>
  <div style="display: flex; flex-direction: column; width: 250px;">
    <div style="display: flex; justify-content: space-between;">
      <a href="{{ url_for('main.user', username=post.author.username) }}">
        {{ post.author.username }}
      </a>
      <div style="color: gray; font-size: 10px;">
        {{ moment(post.timestamp).fromNow() }}
      </div>
    </div>
    <div>{{ post.body }}</div>
  </div>
</div>